<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="user" class="com.ling.test01.entity.User">
		<constructor-arg name="name" value="zhang"></constructor-arg>
		<constructor-arg name="age" value="18"></constructor-arg>
	</bean>
</beans>